/**
 * MAP
 *
 * Styles for the filterable D3 maps visualizations
 */


.map {
   // Sidebar filters
   .filter-buttons.row {
      text-align: center;
      padding: 1.5rem 0;
      margin-bottom: 0;
      border-bottom: 0;

      .btn {
         &.active,
         &:focus {
            background: $teal;
         }

         &.highlighted{
            background: lighten($teal, 15%);
         }
      }
   }

   .side-nav li {
      
      &:hover {
         background: none;
      }

      fieldset {
         border: 0;
      }

      label {
         color: #f5f5f5;
         text-transform: uppercase;
         padding: .5em 0;
         display: block;
      }

      select {
         color: $text;
      }
   }
   
   // Legend
    #chartLegend {
      font-size: .85rem;
      position: relative;
    }

    .nodata {
      position: relative;
      margin-left: 20px;
      margin-bottom: 5px;
      padding-left: 18px;
   }

   .nodata:after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background: #fff;
      left: 0;
      top: 5px;
      border: 1px solid #000;
   }

    /* This is absurd. Figure this out in JS */
   .legendEntry:first-child rect{fill:#DADFE7}
   .legendEntry:nth-child(2) rect{fill:#B2C3D1}
   .legendEntry:nth-child(3) rect{fill:#7699B0}
   .legendEntry:nth-child(4) rect{fill:#3a6f8f}
   .legendEntry:nth-child(5) rect{fill:#224357}
   .legendEntry:nth-child(6) rect{fill:#000}

   .tooltip {
      background: $black;
      color: $white;
      padding: .5rem;
      display: none;
   }

   .tooltip-triangle {
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $black;
      display: none;
   }

   #map path {
      fill: $white;
   }
}

@media screen and (min-width: 992px) { 

   #map {
      padding-top: 2rem;
      text-align: center;
   }
}