/*
 * Buttons
 *
 * Default POC button styles. Overrides Materialize.
 *
 * Author: 
 * Contact:
 * Date Created:
*/


.btn {
    border-radius: 0;
    background: $teal;
    border-bottom: 3px solid $dark-teal;
    color: $white;
    box-shadow: none;

    &:hover {
        color: $white;
        background: $dark-teal;
        box-shadow: none;
    }

    a {
        color: $white;

        &:hover {
            color: $white;
            background: $dark-teal;
        }
    }
}
